

table {
    width: 100%;
            border-collapse: separate; /* Muda para 'separate' para aplicar o border-radius */
            border-spacing: 0; /* Remove o espaçamento entre as células */
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
            border: 1px solid rgba(91, 91, 91, 1);
            border-radius: 4px; /* Adiciona bordas arredondadas */
            overflow: hidden; /* Garante que as bordas arredondadas funcionem corretamente */
}
th, td {
    padding: 12px;
    border: 1px solid rgba(91, 91, 91, 1)    
}
th {
    background-color: #f2f2f2;
}