.box-home{
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box  ;
}

.conteudo-home {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  padding: 0;
  margin-top: 200px;
  margin-bottom: 80px;
}

.conteudo-home h3 {
  margin-left: 15px;
}

.cards {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}



@media (min-width: 1024px) {
  .conteudo-home{
    display: flex;
    justify-content: center;
    margin-left: 95px; 
  }


}