.box-home{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.conteudo-home {
  padding-top: 200px;
  padding-bottom: 70px;
}

.conteudo-home h3 {
  margin-left: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}



@media (min-width: 1024px) {
  .conteudo-home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    margin-left: 80px;
    padding-bottom: 0px;

    /* max-width: 50%; */
  }

  .conteudo-home h3 {
    text-align: start;
  }
}