.box-percurso {
    width: 100vw;
    height: 90vh;
}

.main-percurso {
    height: 100%;
    padding-bottom: 80px;
}

.container-percurso {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-item-percurso {
    display: flex;
    gap: 10px;
}

.container-barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bola-barra {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(0, 59, 109, 1);
}

.traco-barra {
    width: 2px;
    height: 60px;
    background: rgba(0, 59, 109, 1);
}

.container-item-off .bola-barra {
    background: rgba(170, 170, 170, 1);
}

.container-item-percurso button {
    display: none;
}

.container-item-off button {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 7px 16px;
    border-radius: 5px;
    background: linear-gradient(96.13deg, #003B6D -8.9%, #005297 115.43%);
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.container-item-off-button {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 7px 16px;
    border-radius: 5px;
    background: linear-gradient(96.13deg, #003B6D -8.9%, #005297 115.43%);
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.item-final .traco-barra {
    display: none;
}

.main-error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    gap: 20px;

    height: 70vh;
    /* Garante que ocupa toda a altura da tela */
}

.hour-invisible {
    opacity: 0;
}

.field-address {
    font-weight: bold;
}

.start-route {
    padding: 30px;
}

.start-route > select {
    width: 38%;
    padding: 6px;
    border-radius: 5px;
}

.not-route-active-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
    margin-top: 30px;
    margin-bottom: 60px;
}



@media (min-width: 1024px) {

    .main-percurso {
        width: 100%;
        padding-left: 80px;
        padding-bottom: 0px;
    }

}