.map-container-box{
    width: 100vw;
    height: 90vh;
}

@media (min-width: 1024px) {
    body {
        margin: 0;
    }
    .box-percurso {
        
        margin: 0;
    }

    .main-percurso {
        width: 100%;
        margin-left: 150px;
    }

    .map-container-box{
        width: 100vw;
        height: 90vh;
    }
}
