.box-percurso {
    width: 100vw;
    height: 90vh;
}

.main-percurso{
    height: 100%;   
    padding-bottom: 80px;
}

@media (min-width: 1024px) {

    .main-percurso {
        width: 100%;
        padding-left: 80px;
        padding-bottom: 0px;
    }

}
