.info-moto {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
}

.nome {
  display: flex;
  gap: 10px;
}

.nome p {
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.nome h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
}

.tempo p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(85, 85, 85, 1);
}

.foto {
  margin-top: 15px;
  position: relative;
  display: block;
}
